<footer class="text-white pt-4 mb-1">
  <div class="container">
    <div class="row">
      <!-- Logo y Descripción -->
      <div class="col-md mb-3">
        <h5 class="text-uppercase">Sala de Juegos</h5>
        <p>Tu portal favorito para descubrir y jugar los mejores títulos en línea. ¡Diversión garantizada!</p>
      </div>

      <!-- Enlaces Rápidos -->
      <div class="col-md mb-3">
        <h5 class="text-uppercase">Enlaces</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-white text-decoration-none">Inicio</a></li>
          <li><a href="/" class="text-white text-decoration-none">Juegos Populares</a></li>
          <li><a href="/" class="text-white text-decoration-none">Novedades</a></li>
          <li><a href="/" class="text-white text-decoration-none">Contacto</a></li>
        </ul>
      </div>

      <!-- Redes Sociales -->
      <div class="col-md mb-3">
        <h5 class="text-uppercase">Síguenos</h5>
        <a href="/" class="text-white me-3"><i class="bi bi-facebook"></i></a>
        <a href="/" class="text-white me-3"><i class="bi bi-twitter"></i></a>
        <a href="/" class="text-white me-3"><i class="bi bi-instagram"></i></a>
        <a href="/" class="text-white"><i class="bi bi-youtube"></i></a>
      </div>

      <div class="col-md mb-3">
        <a href="https://github.com/fernandoasd/sala-de-juegos.git" class="text-white me-3 text-decoration-none"><i class="bi bi-github"> Repositorio</i></a>
      </div>

    </div>

    <div >
      <p class="mb-1">&copy; 2025 Sala de Juegos. Todos los derechos reservados.</p>
      <p class="mb-1">&copy; V. 0.0.6</p>
      <p class="mb-1">&copy; correcciones: </p>
        <ul>
          <li> <del>mayor o menor: imagenes, una sola baraja a la vez, cartas desde API</del></li>
          <li>registro: mensajes de error en español</li>
          <li> desactivar botones ahorcado cuando se carga</li>
          <li>usar modulos</li>
          <del><li>chat: auto scroll</li></del>
          <del><li>empezar preguntados</li></del>
        </ul>

    </div>
  </div>
</footer>