@if (hayError)
{
<h1 class="text-danger">Error</h1>
}
<h1 class="text-danger">{{error()}}</h1>

<!-- <form [formGroup]="formulario">
    <div class="m-1">
        <label for="cuit">CUIT</label>
        <input id="cuit" type="text" formControlName="cuit">
        <div *ngIf='formulario.get("cuit")?.touched && 
        formulario.get("cuit")?.invalid' class="text-danger">

            <div *ngIf='formulario.get("cuit")?.errors?.["required"]'>
                Valor necesario
            </div>

            <div *ngIf='formulario.get("cuit")?.errors?.["pattern"]'>
                ejemplo: NN-NNNNNNNN-N
            </div>
        </div>
    </div>
    <button (click)="enviar()">Enviar</button>
</form> -->


<div class="mx-auto mt-2">
    <div class="login-box">
        <h2 class="text-center mb-4">Registrarse</h2>
        <form [formGroup]="formulario">
            <!-- mail -->
            <div class="mb-3">
                <label for="mail" class="form-label">Correo electrónico</label>
                <input id="mail" class="form-control" type="mail" formControlName="mail" [(ngModel)]="mail"
                    placeholder="tucorreo@ejemplo.com">
                <div *ngIf='formulario.get("mail")?.touched && 
                    formulario.get("mail")?.invalid' class="text-danger">
                    <div *ngIf='formulario.get("mail")?.errors?.["required"]'>
                        Valor necesario
                    </div>
                    <div *ngIf='formulario.get("mail")?.errors?.["pattern"]'>
                        ejemplo {{mailEjemplo}}
                    </div>
                </div>
            </div>
            <!-- contrasenia -->
            <div class="mb-3">
                <label for="contrasenia" class="form-label">Contraseña</label>
                <input type="password" [(ngModel)]="contrasenia" class="form-control" id="contrasenia"
                    placeholder="••••••••" formControlName="contrasenia">
                <div *ngIf='formulario.get("contrasenia")?.touched && 
                    formulario.get("contrasenia")?.invalid' class="text-danger">
                    <div *ngIf='formulario.get("contrasenia")?.errors?.["required"]'>
                        Valor necesario
                    </div>
                    <div *ngIf='formulario.get("contrasenia")?.errors?.["pattern"]'>
                        Entre 6 y 12 caracteres.Puede contener numeros, letras y/o guion bajo.
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <!-- nombre -->
                <label for="nombre" class="form-label">Nombre: </label>
                <input id="nombre" type="text" class="form-control" [(ngModel)]="nombre" formControlName="nombre"
                    placeholder="Ramiro">
                <div *ngIf='formulario.get("nombre")?.touched && formulario.get("nombre")?.invalid' class="text-danger">

                    <div *ngIf='formulario.get("nombre")?.errors?.["required"]'>
                        Valor necesario
                    </div>

                    <div *ngIf='formulario.get("nombre")?.errors?.["minlength"]'>
                        Mínimo 3 caracteres
                    </div>

                    <div *ngIf='formulario.get("nombre")?.errors?.["maxlength"]'>
                        Maximo 10 caracteres
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <!-- edad -->
                <label for="edad" class="form-label">Edad</label>
                <input id="edad" type="text" formControlName="edad" [(ngModel)]="edad" class="form-control"
                    placeholder="18">
                <div *ngIf='formulario.get("edad")?.touched && formulario.get("edad")?.invalid' class="text-danger">
                    <div *ngIf='formulario.get("edad")?.errors?.["required"]'>
                        Valor necesario
                    </div>
                    <div *ngIf='formulario.get("edad")?.errors?.["pattern"]'>
                        Solo números
                    </div>
                    <div *ngIf='formulario.get("edad")?.errors?.["min"]'>
                        Debes tener al menos 18 años.
                    </div>
                    <div *ngIf='formulario.get("edad")?.errors?.["max"]'>
                        Debes ser menor de 126 años.
                    </div>
                </div>
            </div>
            <div class="d-grid">
                <button (click)="enviar()" class="btn btn-success" [disabled]="this.formulario.invalid">Registrarse</button>
            </div>
            <div class="text-center">
                <a href="#" class="text-light text-decoration-none">¿Olvidaste tu contraseña?</a><br>
                <a href="#" class="text-light text-decoration-none">Crear una cuenta</a>
            </div>
        </form>
    </div>
</div>

<!-- 
Mail: <input type="text" [(ngModel)]="mail">
Contraseña: <input type="text" [(ngModel)]="contrasenia">

<button (click)="registrarse()">Registrase</button> -->