<div class="container-fluid m-1">
    <h2 class="text-center m-2">Ahorcado</h2>

    <app-ranking *ngIf="this.usuarioActual()[0] != null" [juego]="juego" [idUsuario]="this.usuarioActual()[0].id"
        [puntuacion]="puntuacion()"></app-ranking>
    <!-- <div class="text-end gap-1">
        <button type="button" class="bi bi-list-ol btn btn-lg btn-primary m-1" data-bs-toggle="modal" data-bs-target="#myModal">
            Ranking</button>
        <button type="button" class="bi bi-floppy btn btn-success btn-lg" (click)="guardarRanking()">
            Guardar Progreso</button>
        <h2 class="text-end text-success m-1">Puntos: {{puntuacion()}}</h2>
    </div> -->

</div>
<h3 class="text-center mb-5">Intentos restantes: {{intentos}} / {{intentosMax}}</h3>
<div [ngStyle]='{
        "height": "40vh",
        "background-image": "url("+imagenUrl+")",
        "background-position": "center",
        "background-repeat": "no-repeat"
    }'>

</div>
@if (estadoJuego === "jugando") {
<div class="display-teclado-container text-center g-1">
    <div class="dontainer mt-5 mb-5">
        <h1>
            @for (item of arrayPalabra; track $index) {
            @if (item.adivinada){
            <h1 class="d-inline m-2">{{item.letra.toUpperCase()}} </h1>
            } @else {
            <h1 class="d-inline m-2">_ </h1>
            }
            }
        </h1>
    </div>


    @for (letra of abecedario; track $index) {
    <button class="{{claseInitBoton}}" (click)="presionarTecla($index.toString())" id="btn-{{$index}}">
        {{letra.toUpperCase()}}</button>
    }


</div>
} @else {
<div class="alerta-container text-center" [ngClass]='{
            "bg-danger": estadoJuego === "perdido",
            "bg-success": estadoJuego === "ganado"
        }'>
    <h1>{{mensaje}}</h1>
    <button class="btn btn-lg btn-info m-1" (click)="inicializarJuego()"> Reiniciar</button>

</div>
}







<!-- 
<div class="d-flex justify-content-center mt-5">
    <button class="btn btn-info m-1" (click)="ganarJuego()"> Ganar</button>
    <button class="btn btn-info m-1" (click)="perderJuego()"> Perder</button>
    <button class="btn btn-info m-1" (click)="inicializarJuego()"> Reiniciar</button>
</div> -->