

  <!-- <div class="d-flex gap-1 m-1">
    <a routerLink="/" (click)="llamar('home')" class="btn btn-success">Home</a>
    <a routerLink="about" (click)="llamar('about')" class="btn btn-success">About Me</a>
    <a routerLink="listado" (click)="llamar('listado')" class="btn btn-success">Listado</a>

    @if (auth.usuarioActual === null)
    {
    <a routerLink="login" class="btn btn-success">Login</a>
    <a routerLink="registro" class="btn btn-success">Registro</a>
    } @else {
    <a (click)="cerrarSesion()" class="btn btn-danger">Cerrar Sesion</a>
    }
  </div>
 -->
