<div class="card shadow-sm border-0 bg-img">
  <div class="card-header bg-secondary text-white">
    <h5 class="mb-0">Chat en vivo</h5>
  </div>

  <div class="card-body p-3" style="max-height: 55vh; overflow-y: auto;">
    <ul class="list-unstyled bm-danger">
      <li class="d-flex ms-auto" *ngFor="let mensaje of mensajes()" class="mb-3">
        <div class="d-flex text-white p-1">
          <div class="bg-secondary p-2 border border-dark border-1 rounded-3" [ngClass]="{
          'bg-success ms-auto': mensaje.usuarios.id === miId
          }">
            <strong class="">{{ mensaje.usuarios?.nombre }}:</strong><br/>
            {{ mensaje.mensaje }}<br/>
            <span class="badge rounded-pill ms-auto">{{ mensaje.created_at | date: 'HH:mm' }}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="card-footer bg-light">
    <div class="input-group">
      <input
        [(ngModel)]="new_mensaje"
        class="form-control"
        type="text"
        placeholder="Escribe un mensaje..."
        (keyup.enter)="enviarMensajes()"
      />
      <button class="btn btn-primary" (click)="enviarMensajes()">Enviar</button>
    </div>
  </div>
</div>

  <!-- <ul class="list-group mb-3">
    <li *ngFor="let mensaje of mensajes()" class="list-group-item">
      {{mensaje.created_at | date: 'dd/MM/yyyy HH:mm'}} {{ mensaje.usuarios.nombre }}: {{mensaje.mensaje}}
    </li>
  </ul>

  
  <input [(ngModel)]="new_mensaje" class="form-control mb-2"><button (click)="enviarMensajes()">Enviar</button>
   -->
  <!-- @for (m of mensajes(); track m) {
      <p>{{m.created_at}}  Usuario: {{m.id_usuario}}</p>
      <p>{{m.mensaje}}</p>
  } -->




  <!-- [ngClass]="{
          'ms-auto': mensaje.id_usuario === miId,
          'me-auto': mensaje.id_usuario === miId
        }" -->