<div class="container mt-4">
    <h2 class="mb-3 text-center">About me</h2>

    <div class="row mb-5">
        <div class="col-md-8 border-end border-secondary ">
            <h4>Datos Personales</h4>
            <ul>
                <li><strong>Nombre:</strong> {{ nombre }}</li>
                <!-- <li><strong>Edad:</strong> {{ edad }} años</li> -->
                <li><strong>Carrera:</strong> {{ carrera }}</li>
            </ul>

            <h4 class="mt-4">Mi Juego</h4>
            <p><strong>{{ juegoNombre }}</strong>: {{ juegoDescripcion }}</p>
        </div>

        <div class="col-md-4 text-center mb-4">
            <img [src]="imagenUrl" alt="Foto del alumno" class="img-fluid rounded-circle shadow"
                style="max-width: 200px;">
        </div>
    </div>
</div>