<div class="container">
    <div class="row">
        <!-- Enlaces Rápidos -->
        <div class="col-sm mb-3">
            <app-usuario (rellenarEvent)="rellenar($event)"></app-usuario>
        </div>

        <!-- Login box -->
        <div class="col-sm mt-2">
            <div class="login-box">
                <h2 class="text-center mb-4">Iniciar Sesión</h2>
                <div class="mb-3">
                    <label for="email" class="form-label">Correo electrónico</label>
                    <input type="email" [(ngModel)]="mail" class="form-control" id="email"
                        placeholder="tucorreo@ejemplo.com" required>
                </div>
                <div class="mb-3">
                    <label for="contrasenia" class="form-label">Contraseña</label>
                    <input type="password" [(ngModel)]="contrasenia" class="form-control" id="contrasenia"
                        placeholder="••••••••" required>
                </div>
                <div class="d-grid">
                    <button (click)="loguearse()" class="btn btn-success">Loguearse</button>
                </div>
                <div class="text-center">
                    <a href="#" class="text-light text-decoration-none">¿Olvidaste tu contraseña?</a><br>
                    <a href="#" class="text-light text-decoration-none">Crear una cuenta</a>
                </div>
            </div>
        </div>

    </div>



    <!-- Mail: <input type="text" [(ngModel)]="mail">
    Contraseña: <input type="text" [(ngModel)]="contrasenia"> -->

    <!-- <button (click)="loguearse()">Loguearse</button> -->