    <div class="text-end gap-1">
        <button type="button" class="bi bi-list-ol btn btn-lg btn-primary m-1" data-bs-toggle="modal" data-bs-target="#myModal" (click)="consultarRanking()">
            Ranking</button>
        <button type="button" class="bi bi-floppy btn btn-success btn-lg" (click)="guardarRanking()">
            Guardar Progreso</button>
        <h2 class="text-end text-success m-1">Puntos: {{puntuacion()}}</h2>
    </div>

    <!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Ranking</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                @if(this.nuevoRanking()[0] != null){
                <table class="table table-bordered table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Fecha</th>
                            <th>ID Usuario</th>
                            <th>Puntos</th>
                            <th>ID Juego</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of this.nuevoRanking()[0].data">
                            <td>{{ item.id }}</td>
                            <td>{{ item.created_at | date: 'short' }}</td>
                            <td>{{ item.id_usuario }}</td>
                            <td>{{ item.puntos }}</td>
                            <td>{{ item.id_juego }}</td>
                        </tr>
                    </tbody>
                </table>
                } @else {
                <p class="text-danger"> No hay datos en ranking para este juego...</p>
                }

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
